<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="download"/>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="ver" value="20191010"/>
    <add key="name" value=""/>
    <add key="mima" value=""/>
    
    
    
  </appSettings>


</configuration>